services:
  - type: web
    name: weather-react-cicd
    env: static
    buildCommand: ./build.sh
    staticPublishPath: dist
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 24.12.0
      - key: SKIP_INSTALL_DEPS
        value: true
      - key: VITE_WEATHER_API
        sync: false
      - key: VITE_WEATHER_JWT_TOKEN
        sync: false
