.location-details-page {
  max-width: 600px;

  .heading {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5px;
    padding-bottom: 20px;

    .wta-link {
      padding-top: 7px;
      padding-right: 10px;
    }
  }
}

div.location-details-div {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
}

table.location-details {
  border-collapse:collapse;
  font-size: 1.2rem;
  background: var(--color-bg-surface, #242831);
  color: var(--color-text-primary, #d6d9e3);

  tbody {
    white-space: nowrap;
  }

  tbody tr {
    border-bottom: 1px solid var(--color-border-subtle, rgba(255, 255, 255, 0.04));

    &:hover {
      background: var(--color-bg-hover, #353b48);
    }
  }

  thead tr {
    background-color: #2d323d;
    text-align: center;
    font-weight: bolder;
    color: #d6d9e3;

    td {
      padding: 10px;
    }
  }

  tbody td {
    padding: 6px 8px;
    color: #d6d9e3;
  }

  tr.heading th {
    font-weight: bold;
    text-align: center;
    background-color: #242831;
    color: #d6d9e3;
  }

  tr.secondary-heading th {
    background-color: #353b48;
    color: #d6d9e3;
  }

  td.align-right {
    text-align: right;
  }

  .center {
    text-align: center;
  }
}

.border-right {
  border-right: 1px solid #656b7e;
}

// @media (max-width: 500px) {
// //   table.location-details tbody tr td {
// //     padding: 6px 9px;
// //   }
// .location-details-page {
//   align-items: flex-start;
// //   max-width: 400px;
// }
  
// }