table.location-details {
  border-collapse:collapse;
    tbody {
        white-space: nowrap;
        padding:4px;
    }

    width: 50%;
    margin-top: 25px;

    tr.heading th {
        font-weight: bold;
        text-align: center;
        background-color: #f2f7fb;
    }

    tr.secondary-heading th {
        background-color: #ffeaaa;
    }

    td.align-right {
        text-align: right;
    }

    .center {
        text-align: center;
    }
}

.border-right {
    border-right: 1px solid #afafaf;
}

