.fog { color: rgb(152, 150, 152); }
.snow { color: rgb(25, 151, 245); }
.cloudy { color: blue; }
.rain { color: blue; }
.sunshine-10 { color: rgb(255, 187, 33); }
.sunshine-50 { color: rgb(123, 96, 96); }
.sunshine-100 { color: rgb(38, 163, 231); }
.day-sunny { color: #ffb412; }

.high-temp-wi-hotter {
  color: #ff5f21;
}

.high-temp-wi-hot {
  color: #ffbb21;
}

.weekend {
  background-image: linear-gradient(142deg, #b2f7c6 11.11%, #faf5f5 11.11%, #faf5f5 50%, #b2f7c6 50%, #b2f7c6 61.11%, #faf5f5 61.11%, #faf5f5 100%);
  background-size: 14.62px 11.42px;
}