.fog { color: rgb(152, 150, 152); }
.snow { color: rgb(25, 151, 245); }
.cloudy { color: blue; }
.rain { color: blue; }
.sunshine-10 { color: rgb(255, 187, 33); }
.sunshine-50 { color: rgb(123, 96, 96); }
.sunshine-100 { color: rgb(38, 163, 231); }
.day-sunny { color: #ffb412; }

.high-temp-wi-hotter {
  color: #ff5f21;
}

.high-temp-wi-hot {
  color: #ffbb21;
}