// Place all the styles related to the Weather controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .weather-forecast-table {
//   font-family: 'Courier';
//   // font-family: 'Apercu Mono'
//   border-collapse: collapse;
//   margin: 25px 0;
//   font-size: 0.9em;
//   font-family: sans-serif;
//   min-width: 400px;
//   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
// }

// $color-alert-bg: black;

// .alert-cell-triangle {
//     position: relative;
// }
// .alert-cell-triangle:after {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   width: 0;
//   height: 0; 
//   display: block;
//   border-left: 15px solid transparent;
//   border-bottom: 15px solid transparent;
//   border-top: 15px solid $color-alert-bg;
// }

// .alert-details {
//   padding: 0.5rem;
//   margin-bottom: 1.25rem;
//   border: 2px solid #eee;
//   border-left-width: .25rem;
//   border-radius: .5rem;
//   span.title {
//     margin-top: 0;
//     margin-bottom: .25rem;
//     font-weight: bolder;
//     padding: 5px;
//     border-radius: .25rem;
//   }
//   .regions {
//     padding: 3px;
//     span.region {
//       font-weight: 700;
//     }
//   }
//   .description {
//     padding: 3px;
//     span.description {
//       font-weight: 700;
//     }
//   }
// }


// // level 1 warning
// $color-alert-advisory: rgba(23, 188, 255, 1);
// .alert-advisory {
//   border-left-color: $color-alert-advisory;
// }

// // level 2 warning
// $color-alert-watch: rgba(255, 213, 46, 1);
// .alert-watch {
//   border-left-color: $color-alert-watch;
// }

// $color-alert-warning: rgba(255, 66, 39, 0.88);
// // level 3 warning
// .alert-warning {
//   border-left-color: $color-alert-warning;
// }

// span.alerts-summary {
//   background-color: blue;
//   color: white;
//   padding: 1px 5px;
//   margin-right: 10px;
//   border-radius: .2rem;
// }

// span.alert_id {
//   background-color: $color-alert-bg;
//   padding: 1px 5px;
//   margin: 3px;
//   a {
//     color: white;
//   }
//   border-radius: .2rem;
// }

// table.weather-forecast-alerts {
//   tr.table-heading {
//     td {
//       border: 0;
//       font-size: 1.2em;
//     }
//   }
// }

table.table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #f9d6a7;
  color: black;
  font-weight: 5em;
  // text-align: center;
}

.styled-table th,
.styled-table td {
  padding: 12px 8px;
  text-align: center;
}

.styled-table td.location-name {
  text-align: left;
}

.forecast-button {
  background: none !important;
  border: none;
  padding: 0 !important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

// < !-- HTML !--><button class="button-2" role="button">Button 2</button>
// https: //getcssscan.com/css-buttons-examples
/* CSS */
.button-2 {
  background-color: rgb(51 51 51 / 10%);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

// FIXME : not being used currently
table.weather-forecast-summary-11111 {
  tbody {
    white-space: nowrap;
    td {
      padding: 0.45em;
    }
  }
  td.weather-cell {
    border: 2px solid rgba(1,2,4,0.07);
  }
  td.center {
    text-align: center;
  }
  thead.table-heading {
    td {
      background-color: #f08e07;
      color: #ffffff;
      text-align: center;
    }
  }

  tr.planetory-info {
    span.sunrise {
      i {
        color: #ffc107;
        padding-right: 0.4em;
      }
      padding-right: 2em;
    }
    span.sunset {
      i {
        color: #0e151d;
        padding-right: 0.4em;
      }
      padding-left: 2em;
    }
  }
}

.wta-link {
  padding-right: 5px;
}

.all-alerts {
  padding-top: 10px;
}

.alert-for-this-day {
  border-bottom: 1px solid red;
}

// table.weather-forecast {
//   border-collapse:collapse;
//   tr.weather-cell td {
//     border: 2px solid rgba(1, 2, 4, 0.07);
//   }

//   thead {
//     tr.header-secondary-main {
//       background-color:#f2d8a4;
//     }
//   }

//   tbody {
//     white-space: nowrap;

//     tr.daily-summary {
//       background-color: #feffd4;
//     }

//     .weekend {
//       background-image:linear-gradient(142deg, #b2f7c6 11.11%, #faf5f5 11.11%, #faf5f5 50%, #b2f7c6 50%, #b2f7c6 61.11%, #faf5f5 61.11%, #faf5f5 100%);
//       background-size: 14.62px 11.42px;
//     }

//     tr.region-details {
//       td {
//         column-span: all;
//         text-align: center;
//       }
//       background: #fef7e9;
//     }

//     tr.weather-details {
//       span.forecast-id {
//         color: white;
//         background-color: rgba(156, 191, 240, 0.8);
//         padding: 3px 3px 3px 5px;
//         border-radius: 0.25em;
//         margin-right: 5px;
//       }

//       td.summary {
//         text-align: left;
//       }

//       td.location-row {
//         text-align: left;
//       }

//       td.left-col-of-merged-cells {
//         border-right: solid 1px #FFF;
//       }

//       td.right-col-of-merged-cells {
//         border-left: solid 1px #FFF;
//       }

//       td.forecast-date span.day-of-month {
//         border:none;
//         color: #df788e;
//         font-size: 0.85em;
//         font-weight: 900;
//         white-space: nowrap;
//       }

//       td.precipitation {
//         text-align: center;
//       }

//       td.precipitation-prob {
//         border-right: none;
//         text-align: right;
//       }
//       td.precipitation-amount {
//         border-left: none;
//         text-align: right;
//       }
//       td.cloud-cover {
//         text-align: right;
//         padding-right: 4em;
//       }
//     }
//   }

//   .header-main {
//     background-color:#def0ff;
//   }

//   tr.header-secondary {
//     background-color:#fef7e9;
//     text-align: center;
//     td {
//       padding: 8px 8px;
//     }
//   }
// }

.align-right {
  text-align: right;
}

.weather-icon {
  font-size: 1.4em;
  font-weight: 1.2em;
}

a.freepik {
  text-decoration: underline;
  font-size: 0.8em;
}

@media (max-width: 500px) {
  .styled-table th,
  .styled-table td {
    padding: 6px 0px;
    text-align: center;
  }

  .weather-icon {
    font-size: 1.1em;
  }

  table.table {
    font-size: 0.8em;
  }
 
  .forecast-button {
    font-size: 0.8em;
  }

  .styled-table td.location-name {
    padding-left: 12px;
  }

}