div.loading {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

div.loading img {
  width: 100%;
  max-width: 1000px;
}

/* variables */

/* reset */

/* base styles */

/* fonts */

/* mobile styles */

/* small table styles */
@media screen and (min-width: 620px) {
  
}

/* large tablets and laptop styles */
@media screen and (min-width: 960px) {
  
}
/* desktop styles */
@media screen and (min-width: 1200px) {
  
}